.fishCard {
    background-color: #DADCCA;
    display: inline-grid;
    object-fit: cover;
    padding: 10px;
    padding-bottom: 20px; 
    margin: 15px;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border: solid;
    border-color: #5BC44A;
    
}

.image {
    height: 250px;
    width: 250px;
    justify-self: center;
    object-fit: cover;
    object-position: -.1%;
    border-radius: 15px;
    border: none;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-self: center;
}
h4 {
    margin-top: 5px;
    justify-self: center;
}